<div class="row g-4">
  <div *ngIf="!proyectos || proyectos.length === 0" class="col-12">
    <div class="alert alert-warning text-center">
      No hay participantes en este proyecto.
    </div>
  </div>
  <div class="col-12" *ngFor="let usuario of proyectos">
    <div class="card shadow-sm proyecto-card">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title mb-3" [title]="usuario.nombreapellido">
          {{ usuario.nombre || "No disponible" }}
        </h4>
        <p class="card-text descripcion mb-3" [title]="usuario.nodocumento">
          <strong>Documento:</strong>
          {{ usuario.nodocumento || "No disponible" }}
        </p>

        <p class="card-text descripcion mb-3" [title]="usuario.correo">
          <strong>Correo:</strong>
          <a href="mailto:{{ usuario.correo }}">{{ usuario.correo }}</a>
        </p>

        <p
          *ngIf="usuario.telefono"
          class="card-text descripcion mb-3"
          [title]="usuario.telefono"
        >
          <strong>Teléfono:</strong> {{ usuario.telefono }}
        </p>
      </div>
    </div>
  </div>
</div>
