.btn-success {
  background-color: #ff8243;
  border-color: #ff8243;
  transition: background-color 0.3s, border-color 0.3s;

}

.btn-success:hover,
.btn-success:focus {
  background-color: #ffba6a;

  border-color: #ffba6a;

}

.btn-success:active {
  background-color: #ffba6a;

  border-color: #ffba6a;

}

.btn-info {
  background-color: #84b6f4;
  border-color: #84b6f4;
  transition: background-color 0.3s, border-color 0.3s;

}

.btn-info:hover,
.btn-info:focus {
  background-color: #87a8d1;
  border-color: #87a8d1;
}

.btn-info:active {
  background-color: #87a8d1;
  border-color: #87a8d1;

}

/* ------------------------------------------ */
.container {
  max-width: 100%;
  max-height: 100%;
}