<div class="container" style="padding: 30px; justify-content: center">
  <div class="card">
    <div class="card-body">
      <div class="encabezado-atras">
        <button class="close-button" (click)="cerrarDialogo()">
          <i class="bi bi-box-arrow-in-left"></i>
        </button>

        <h6 class="card-title">Crear usuario</h6>
      </div>
      <form
        class="row g-3 needs-validation"
        [formGroup]="crearUsuarioForm"
        (ngSubmit)="crear()"
        novalidate
      >
        <div class="col-md-4">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="nodocumento"
              placeholder="No documento"
              formControlName="nodocumento"
              required
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('nodocumento')?.invalid &&
                  crearUsuarioForm.get('nodocumento')?.touched
              }"
            />
            <label for="nodocumento">No. Documento</label>
            <div
              *ngIf="
                crearUsuarioForm.get('nodocumento')?.invalid &&
                crearUsuarioForm.get('nodocumento')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, ingresa un No. de documento válido
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input
              type="text"
              formControlName="nombreapellido"
              class="form-control"
              id="nombreapellido"
              placeholder="nombreapellido"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('nombreapellido')?.invalid &&
                  crearUsuarioForm.get('nombreapellido')?.touched,
                'is-valid': crearUsuarioForm.get('nombreapellido')?.valid
              }"
              required
            />
            <label for="nombreapellido">Nombre completo</label>
            <div
              *ngIf="
                crearUsuarioForm.get('nombreapellido')?.invalid &&
                crearUsuarioForm.get('nombreapellido')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, ingresa un  y apellido válido.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input
              type="email"
              formControlName="correo"
              class="form-control"
              id="correo"
              placeholder="Correo electrónico"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('correo')?.invalid &&
                  crearUsuarioForm.get('correo')?.touched,
                'is-valid': crearUsuarioForm.get('correo')?.valid
              }"
              required
            />
            <label for="correo">Correo electrónico</label>
            <div
              *ngIf="
                crearUsuarioForm.get('correo')?.invalid &&
                crearUsuarioForm.get('correo')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, ingresa un correo electrónico válido.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
              id="telefono"
              placeholder="Teléfono"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('telefono')?.invalid &&
                  crearUsuarioForm.get('telefono')?.touched,
                'is-valid': crearUsuarioForm.get('telefono')?.valid
              }"
              required
            />
            <label for="telefono">Teléfono</label>
            <div
              *ngIf="
                crearUsuarioForm.get('telefono')?.invalid &&
                crearUsuarioForm.get('telefono')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, ingresa un número de teléfono válido.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input
              type="datetime-local"
              formControlName="fechaingreso"
              class="form-control"
              id="fechaingreso"
              placeholder="Fecha de Nacimiento"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('fechaingreso')?.invalid &&
                  crearUsuarioForm.get('fechaingreso')?.touched,
                'is-valid': crearUsuarioForm.get('fechaingreso')?.valid
              }"
              required
            />
            <label for="fechaingreso">Fecha de Ingreso</label>
            <div
              *ngIf="
                crearUsuarioForm.get('fechaingreso')?.invalid &&
                crearUsuarioForm.get('fechaingreso')?.touched
              "
              class="invalid-feedback"
            >
              Por favor,seleccione una fecha de ingreso.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="departamento"
              formControlName="departamento"
              aria-label="Departamento"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('departamento')?.invalid &&
                  crearUsuarioForm.get('departamento')?.touched,
                'is-valid': crearUsuarioForm.get('departamento')?.valid
              }"
              required
            >
              <option value="" disabled selected>Seleccionar</option>
              <option
                *ngFor="let dept of departamentos"
                [value]="dept.iddepartamento"
              >
                {{ dept.nombre }}
              </option>
            </select>
            <label for="departamento">Departamento</label>
            <div
              *ngIf="
                crearUsuarioForm.get('departamento')?.invalid &&
                crearUsuarioForm.get('departamento')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, selecciona un departamento.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating mb-3">
            <select
              class="form-select"
              formControlName="ciudad"
              id="ciudad"
              aria-label="Ciudad"
              [ngClass]="{
                'is-invalid':
                  crearUsuarioForm.get('ciudad')?.invalid &&
                  crearUsuarioForm.get('ciudad')?.touched,
                'is-valid': crearUsuarioForm.get('ciudad')?.valid
              }"
              required
            >
              <option value="" disabled selected>Seleccionar</option>
              <option *ngFor="let ciudad of ciudades" [value]="ciudad.idciudad">
                {{ ciudad.nombre }}
              </option>
            </select>
            <label for="ciudad">Ciudad</label>
            <div
              *ngIf="
                crearUsuarioForm.get('ciudad')?.invalid &&
                crearUsuarioForm.get('ciudad')?.touched
              "
              class="invalid-feedback"
            >
              Por favor, selecciona una ciudad.
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success">
            <i class="bi bi-people"></i> Crear Usuario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
