<main id="main" class="main">
  <div class="container">
    <h6 class="card-title">Administrar Usuario</h6>
    <div class="card shadow p-3 mb-5 bg-body rounded mt-4">
      <div *ngIf="usuario" class="row g-0">
        <div class="col-md-1">
          <h2 class="text-center">
            <div class="user-icon">
              <img src="/public/usuarios3.png" alt="Usuarios" />
            </div>
          </h2>
        </div>

        <div class="col-md-5">
          <div class="card-body">
            <h5 class="name">
              <span
                *ngIf="usuario.nombreapellido; else noDisponible"
              >
                {{ usuario.nombreapellido}}
              </span>
              <ng-template #noDisponible>No disponible</ng-template>
            </h5>
            <div class="d-flex align-items-center">
              <h5 class="card-text mb-0">
                <strong><small>Estado: </small></strong>
              </h5>
              <div class="form-check form-switch ms-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="usuario.estado === 'Activo'"
                />
                <label class="form-check-label">
                  {{ usuario.estado || "No disponible" }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-body">
            <h5 class="card-text">
              <strong><small>No. documento: </small></strong>
              {{ usuario.nodocumento || "No disponible" }}
            </h5>
            <h5 class="card-text">
              <strong><small>Número de Contacto: </small></strong>
              {{ usuario.telefono || "No disponible" }}
            </h5>
            <h5 class="card-text">
              <strong><small>Fecha Ingreso: </small></strong>
              {{ usuario.fechaingreso || "No disponible" }}
            </h5>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-body">
            <h5 class="card-text">
              <strong><small>Ciudad: </small></strong>
              {{ getCiudadName(usuario.ciudadid) || "No disponible" }}
            </h5>
            <h5 class="card-text">
              <strong><small>Correo Electrónico: </small></strong>
              {{ usuario.correo || "No disponible" }}
            </h5>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs d-flex" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button
            class="nav-link w-100"
            [class.active]="tabActivo === 'profile'"
            (click)="tabActivo = 'profile'"
          >
            Resumen
          </button>
        </li>
        <li
          class="nav-item flex-fill"
          role="presentation"
        >
          <button
            class="nav-link w-100"
            [class.active]="tabActivo === 'contrasena'"
            (click)="tabActivo = 'contrasena'"
          >
            Actualizar Contraseña
          </button>
        </li>
      </ul>

     <!--  <div class="tab-content pt-2">
        <ng-container
          *ngComponentOutlet="componentesPorTab[tabActivo]"
        ></ng-container>
      </div> -->
    </div>
  </div>
</main>
